Repository LederWorks/terraform-github-easy-bootstrap, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ledermayer, @LederWorks/easy-terraform, @LederWorks/lederworks-admins

dotdot
  files.tf
Owners: @LederWorks/easy-terraform

lookup
  files.tf
Owners: @LederWorks/easy-terraform

default
  files.tf
  variables.tf
Owners: @LederWorks/easy-terraform

dynamic authv0
  files.tf
  templates/examples/auth.tf.tftpl
  variables.tf
Owners: @LederWorks/easy-terraform, @Ledermayer

example
  files.tf
Owners: @LederWorks/easy-terraform

piff
  files.tf
Owners: @LederWorks/easy-terraform

simple
  files.tf
  variables.tf
Owners: @LederWorks/easy-terraform

pásh
  variables.tf
Owners: @LederWorks/easy-terraform

puff
  files.tf
  variables.tf
Owners: @LederWorks/easy-terraform

one step back
  files.tf
  templates/examples/auth.tf.tftpl
  templates/examples/authv2.tf.tftpl
  variables.tf
Owners: @LederWorks/easy-terraform, @Ledermayer

examples_section
  examples/01-default/outputs.tf
  files.tf
  templates/config/.terraform-docs.yml.tftpl
  templates/config/examples.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

páff
  files.tf
  templates/config/examples.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

háci
  files.tf
Owners: @LederWorks/easy-terraform

push
  .test/01-default/module_test.go
  templates/config/examples.tftpl
  variables.tf
Owners: @LederWorks/lederworks-admins, @Ledermayer, @LederWorks/easy-terraform

perszentázs
  templates/config/examples.tftpl
Owners: @Ledermayer

linecarriage?
  templates/config/examples.tftpl
  templates/github/.gitattributes.tftpl
Owners: @Ledermayer

huss
  files.tf
  templates/config/examples.md.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

piff
  templates/config/examples.md.tftpl
  variables.tf
Owners: @Ledermayer, @LederWorks/easy-terraform

utf-8
  templates/config/examples.md.tftpl
  templates/github/.gitattributes.tftpl
Owners: @Ledermayer

no tilde
  templates/config/examples.md.tftpl
Owners: @Ledermayer

$$
  templates/config/examples.md.tftpl
Owners: @Ledermayer

new file :(
  files.tf
  templates/config/examples.md.tftpl
  templates/config/examples.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

if
  templates/config/examples.tftpl
Owners: @Ledermayer

lets tilde then
  templates/config/examples.tftpl
Owners: @Ledermayer

nocomment
  templates/config/.terraform-docs.yml.tftpl
Owners: @Ledermayer

tpl
  files.tf
  templates/config/examples.tpl
Owners: @LederWorks/easy-terraform, @Ledermayer

endif
  templates/config/examples.tpl
Owners: @Ledermayer

dunno
  files.tf
  templates/config/.terraform-docs.yml.tftpl
  templates/config/examples.tpl
Owners: @LederWorks/easy-terraform, @Ledermayer

puff
  files.tf
  templates/config/examples.tpl
Owners: @LederWorks/easy-terraform, @Ledermayer

paff
  files.tf
  templates/config/examples.tpl
Owners: @LederWorks/easy-terraform, @Ledermayer

notred
  templates/config/examples.tpl
Owners: @Ledermayer

all%
  templates/config/examples.md.tftpl
  templates/config/examples.tpl
Owners: @Ledermayer

grrrrr
  templates/config/examples.tpl
Owners: @Ledermayer

páff
  files.tf
  templates/config/.terraform-docs.yml.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

op examples
  examples/01-default/outputs.tf
  files.tf
  templates/config/.terraform-docs.yml.tftpl
Owners: @LederWorks/easy-terraform, @Ledermayer

posh
  files.tf
Owners: @LederWorks/easy-terraform

closure
  .config/.terraform-docs.yml
  CHANGELOG.md
  examples/01-default/main.tf
  examples/01-default/outputs.tf
  files.tf
  templates/config/.terraform-docs.yml.tftpl
  templates/examples/auth.tf.tftpl
Owners: @LederWorks/lederworks-admins, @Ledermayer, @LederWorks/easy-terraform

defer
  .test/01-default/module_test.go
Owners: @LederWorks/lederworks-admins

team name fix
  teams.tf
Owners: @LederWorks/easy-terraform

csillagcsillag
  .github/workflows/terratest-01-default.yml
  main.tf
Owners: @LederWorks/lederworks-admins, @LederWorks/easy-terraform

.github/CODEOWNERS:

# Global rule
* @Ledermayer

# All terraform code 
*.tf @LederWorks/easy-terraform

# Content Folder
/.config/** @LederWorks/lederworks-admins

# Github Folder
/.github/** @LederWorks/lederworks-admins

# Test Folder
/.test/** @LederWorks/lederworks-admins
